<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="GeneralDepartmentOfLawAffairs.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System">
      <section name="DevExpress.LookAndFeel.Design.AppSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <applicationSettings>
    <DevExpress.LookAndFeel.Design.AppSettings>
      <setting name="DefaultAppSkin" serializeAs="String">
        <value></value>
      </setting>
      <setting name="DefaultPalette" serializeAs="String">
        <value></value>
      </setting>
      <setting name="TouchUI" serializeAs="String">
        <value></value>
      </setting>
      <setting name="TouchScaleFactor" serializeAs="String">
        <value></value>
      </setting>
      <setting name="DirectX" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="RegisterUserSkins" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="RegisterBonusSkins" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="FontBehavior" serializeAs="String">
        <value></value>
      </setting>
      <setting name="DefaultAppFont" serializeAs="String">
        <value></value>
      </setting>
      <setting name="DPIAwarenessMode" serializeAs="String">
        <value>System</value>
      </setting>
    </DevExpress.LookAndFeel.Design.AppSettings>
  </applicationSettings>
  <userSettings>
    <GeneralDepartmentOfLawAffairs.Properties.Settings>
      <setting name="GMName" serializeAs="String">
        <value>أ./سمية عبد السلام</value>
      </setting>
      <setting name="CMName" serializeAs="String">
        <value>محمد عثمان ابو المجد</value>
      </setting>
      <setting name="ResearcherName" serializeAs="String">
        <value>اسلام معروف</value>
      </setting>
      <setting name="ChDeptName" serializeAs="String">
        <value> أ./رقية عبد الغفور</value>
      </setting>
      <setting name="researcherSign" serializeAs="String">
        <value>**إسلام**</value>
      </setting>
      <setting name="MinisterName" serializeAs="String">
        <value>غادة فتحي والي</value>
      </setting>
      <setting name="CurrentSkinName" serializeAs="String">
        <value>Blue</value>
      </setting>
      <setting name="DepartmentName" serializeAs="String">
        <value>الإدارة العامة للشئون القانونية – إدارة التحقيقات</value>
      </setting>
      <setting name="JobRank" serializeAs="String">
        <value>الثاني</value>
      </setting>
    </GeneralDepartmentOfLawAffairs.Properties.Settings>
  </userSettings>
</configuration>